<form method="POST" action="/recipes">
  Recipe Name:<br>
  <input type="text" name="name"><br><br>
  Description:<br>
  <input type="text" name="description"><br><br>
  Preparation Time:<br>
  <input type="text" name="prep_time"><br><br>
  Difficulty (1 to 5):<br>
  <input type="text" name="difficulty"><br><br>
  <input type="submit" value="Submit">
</form>
