a.deletion {
  color: red
}

.header {
  text-align: center
}

.title {
  background-color: #CCCCCC;
  font: italic 30px;
}

.button {
  font-size: 14px;
  background-color: #FFFFFF;
  padding: 5px 6px 5px 6px;
  border: 1px solid #333333;
  border-radius: 3px;
}

#card-button {
  background-color: #00A6ED;
  color: #FFFFFF;
  border: none;
  padding: 5px 8px 5px 8px;
}

#allrecipes-button {
  background-color: #000000;
  color: #FFFFFF;
  border: none;
}
